<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80037760973-a8ambt16re9b3cqd0hljigcglr0ej19s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80037760973-a8ambt16re9b3cqd0hljigcglr0ej19s</string>
	<key>API_KEY</key>
	<string>AIzaSyAe3TKn_WPVfnZNBq_SUmJ24eZ7D1ZNmQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>80037760973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samSung.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-da11a</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-da11a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80037760973:ios:bba94ae58c265d2cab7e84</string>
</dict>
</plist>